@font-face {
    font-family: 'Aquire light';
    src: url(/assets/fonts/AquireLight.otf);
}
@font-face {
    font-family: 'Aquire';
    src: url(/assets/fonts/Aquire.otf);
}
@font-face {
    font-family: 'Aquire Bold';
    src: url(/assets/fonts/AquireBold.otf);
}

:root {
    --text-color: #fff;
    --sec-text-color: #afafaf;
    --menu-bg: #000;
    --title-block-bg: #2f3135;
    --img-block-bg: #4e4f52;
    --img-bg: #434447;
    --info-block-bg: #000;
    --sec-block-bg: #2d2e30;
    --additional-dark-grey: #313335;
    --icons-color: initial;
    --accent-color: #c44b4b;
    --profile-block-bg: #121212;
}

.lightTheme {
    --text-color: #000;
    --sec-text-color: #4b4747;
    --menu-bg: #dfdfdf;
    --title-block-bg: #f1f1f1;
    --img-block-bg: #aaaaaa;
    --img-bg: #b4b4b4;
    --info-block-bg: #f0f0f0;
    --sec-block-bg: #c2c2c2;
    --additional-dark-grey: #cccccc;
    --icons-color: brightness(0%);
    --accent-color: #d47575;
    --profile-block-bg: #d1d1d1;
}

body, html, #root {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--menu-bg);
    font-family: 'Calibri';
    color: var(--text-color);
}

p, h1, h3 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: .2s;

    &:hover {
        filter: brightness(70%);
    }
}

button, input {
    outline: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

label {
    cursor: pointer;
    user-select: none;
}

/* Top menu CSS */

#menuBar {
    background-color: var(--menu-bg);
    width: calc(100% - 6vmax);
    height: 8.5vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vmax 0 3vmax;
    color: var(--text-color);
    font-size: 1.2vmax;

    .left * {
        margin-right: 1vmax;
    }

    .center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.8vmax;
    }
}


/* Car page CSS */
/* Title h0.9vh w0.65vw */

/* Main + Car */
.titleBlock {
    position: relative;
    width: 100%;
    height: calc(100vmin - 6.5vmin);
    background-color: var(--title-block-bg);
    overflow: hidden;
    z-index: 3;

    /* Car */
    #light {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -30vmin;
        z-index: 1;
        width: 70vmax;
        height: 70vmin;
        border-radius: 100%;
        background-image: radial-gradient(rgba(255, 255, 255, 0.1), 
        rgba(255, 255, 255, 0.05));
        background-repeat: repeat;
        background-size: 100% 100%;
        box-shadow:
        0px 0.65vmax 5.85vmax 6.5vmax rgba(255, 255, 255, 0.05),
        0px 9.75vmax 5.85vmax 6.5vmax rgba(255, 255, 255, 0.01);
        z-index: 1;
    }

    #vignette {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-image: radial-gradient(rgba(255, 255, 255, 0) 5%, 
        rgba(0, 0, 0, 0.5) 95%);
        z-index: 0;
    }

    .content {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 4;

        #icon {
            position: absolute;
            width: 7%;
            top: 0;
            left: 0;
        }

        #car {
            position: absolute;
            width: 85vw;
            top: 60vh;
            left: 50%;
            transform: translate(-50%, -48vh);
        }
    }

    /* Main */
    .header {
        height: 100%;
        margin: 0 7vw 0 6vw;
        color: var(--text-color);
        width: 31vw;
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: center;
        justify-content: center;
        
        & p {
            font-family: 'Aquire Light';
            font-size: 2vmax;
        }

        .links {
            display: flex;
            flex-direction: column;
        }

        & a {
            --underline-color: var(--text-color);
            font-weight: lighter;
            font-size: 1.5vmax;
            margin: 0.2vmax 0 0.2vmax 0;
        }

        .button {
            cursor: pointer;
            margin-top: 1.6vmax;
            background: none;
            border: 0.15vmax solid var(--accent-color);
            border-radius: 0.4vmax;
            color: var(--accent-color);
            font-size: 1.4vmax;
            padding: 0.5vmax 1vmax;
            font-weight: bolder;
        }
    }

    .images {
        margin-right: 5vw;
        width: calc(100% - 14vw);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1vmax;

        & a {
            width: 28.8vw;
            height: 19.2vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: var(--sec-text-color);
            font-size: 1.2vmax;
            font-family: 'Aquire';
            background-color: rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: .2s;

            & img {
                width: inherit;
                height: inherit;
                object-fit: cover;
            }

            &:nth-child(4):active {
                display: none;
            }

            &:nth-child(5) {
                display: none;
            }

            &:nth-child(4):active {
                + :nth-child(5) {
                    display: flex;
                }
            }

            &:hover, &:active {
                filter: brightness(70%);
            }
        }
    }
}

/* Content */

.line {
    margin: 1.6vmax 0 1.6vmax 0;
    border-radius: 10px;
    background-color: var(--accent-color);
    width: 7vmax;
    height: 0.2vmax;
}

.nameBlock {
    position: relative;
    width: 100%;
    background-color: var(--sec-block-bg);
    height: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Aquire';
    color: var(--text-color);

    & p:nth-child(1) {
        font-size: 2.1vmax;
    }

    & p:nth-child(3) {
        font-size: 1.4vmax;
    }
}

.imageBlock {
    position: relative;
    width: calc(100% - 20vh);
    height: 90vmin;
    background-color: var(--img-block-bg);
    padding: 0 10vh 0 10vh;

    .vingette {
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 300% 1000%;
        background-position: -91%;
        background-image: radial-gradient(rgba(255, 255, 255, 0) 5%, 
        rgba(0, 0, 0, 0.9) 95%);
    }

    .imageContainer {
        position: absolute;
        top: 10vmin;
        margin-right: 10vmin;
        width: 70vmin;
        height: 70vmin;
        background-color: var(--img-bg);
        border-radius: 5%;

        & img {
            position: absolute;
            bottom: 0;
            width: 116%;
        }
    }

    .centerBottom {
        clip-path: inset( -100vw -100vw 0 -100vw );

        & img {
            left: -7%;
            bottom: -5%;
        }
    }

    .centerRight {
        clip-path: inset( 0 0 0 -100vw );

        & img {
            left: -16%;
        }
    }

    .centerTop {
        clip-path: inset( 0 -100vw -100vw -100vw );

        & img {
            top: -5%;
        }
    }
    
    .centerLeft {
        clip-path: inset( -100vw 0 0 0 );

        & img {
            left: 0;
            right: -16%;
        }
    }
    
    .header {
        position: absolute;
        top: 50%;
        left: 90vmin;
        transform: translateY(-50%);
        color: var(--text-color);
        text-align: left;

        .icon {
            width: 6vmax;
            margin-bottom: 0.5vmax;
            margin-left: 50%;
            transform: translateX(-55%);
            filter: var(--icons-color);
        }

        .headerText {
            font-family: 'Aquire Bold';
            font-size: 5vmax;
        }

        .headerDesc {
            font-family: 'Aquire light';
            font-size: 4vmax;
        }
    }
}

.rightSide {
    .imageContainer {
        right: 0;
    }

    .header {
        left: 0;
        right: 90vmin;
        text-align: right;

        .icon {
            margin-left: 0;
            margin-right: 5vw;
            filter: var(--icons-color);
        }
    }

    .vingette {
        right: 0;
        background-size: 300% 1000%;
        background-position: 40%;
    }
}

.infoBlock {
    position: relative;
    width: 100%;
    min-height: 10vmin;
    background-color: var(--info-block-bg);
    color: var(--text-color);
    font-family: 'Aquire';
    text-align: center;
    padding: 2vmax 0 2vmax 0;

    .header {
        font-size: 2vmax;
        margin-bottom: 2.5vmax;
    }

    & table {
        position: relative;
        margin: 0 auto 0 auto;
        font-size: 1.5vmax;
        border-collapse: collapse;
        border: none;

        & td{
            padding-top: 1.4vmax;
            padding-bottom: 1.4vmax;

            & div {
                & p:nth-child(1) {
                    font-size: 1.4vmax;
                    margin-bottom: -0.1vmax;
                }
                & p:nth-child(2) {
                    font-size: 1.1vmax;
                    font-family: 'Aquire Light';
                    margin: 0.2vmax;
                }
            }

            & img {
                margin-bottom: -0.2vmax;
                height: 1.1vmax;
                filter: brightness(0) saturate(100%) invert(41%) sepia(17%) 
                saturate(2191%) hue-rotate(315deg) brightness(95%) contrast(84%);
            }
        }

        & td:nth-child(1) {
            text-align: right;
            padding-right: 20px;
            padding-right: 1.5vmax;
            width: 25vmax;
        }

        & td:nth-child(2) {
            text-align: right;
            padding-right: 1vmax;
            width: 12vmax;
        }
        
        & td:nth-child(3) {
            text-align: left;
            padding-left: 1.5vmax;
            border-left: 1px solid #9a9a9a;
            width: 12vmax;
        }

        & td:nth-child(4) {
            text-align: left;
            padding-right: 20px;
            padding-left: 1vmax;
            width: 25vmax;
        }
    }
}

#priceInfo {
    width: 100%;
    height: 200px;
    background-color: var(--accent-color);
    font-family: 'Aquire Bold', Calibri;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & div {
        width: 60%;
    }

    & a {
        margin-top: 0.6vmax;
        border: 0.2vmax solid var(--text-color);
        border-radius: 0.5vmax;
        padding: 0.5vmax 1.2vmax;
    }
}

/* Footer */

#footer {
    width: 100%;
    height: 10vmax;
    background-color: var(--sec-block-bg);
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 1.1vmax;
    display: flex;
    flex-direction: column;

    .upperBlock {
        width: 90%;
        display: flex;
        justify-content: flex-start;
    }

    .line {
        margin: 0.4vmax 0 0.4vmax 0;
        border-radius: 10px;
        background-color: var(--img-bg);
        width: 90%;
        height: 0.17vmax;
    }

    .lowerBlock {
        width: 90%;
        color: var(--sec-text-color);
        display: flex;
        justify-content: space-between;

        .links * {
            margin-right: 1vmax;
            --underline-color: var(--sec-text-color);
        }

        .socialMedia * {
            margin-left: 1vmax;
        }
    }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.105vmax;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    background-color: var(--underline-color);
    transform-origin: bottom left;
    transition: transform 0.2s ease-in;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Main page */

.submenu {
    background-color: var(--sec-block-bg);
    width: calc(100% - 3vmax);
    height: 7vmin;
    padding-left: 3vmax;
    color: var(--text-color);
    font-size: 1.7vmin;
    display: flex;
    align-items: center;

    & * {
        margin-right: 3vmin;
    }
}

/* Car-List page*/
.listBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--title-block-bg);
    font-family: 'Aquire';

    .header {
        margin: 3vmax 0;
        font-size: 1.7vmax;
    }
}

.companiesList {
    width: 100%;
    padding-bottom: 5vmax;
    display: flex;
    align-items: center;
    justify-content: center;

    .company {
        position: relative;
        width: 25vmax;
        max-height: 33vmin;
        background-color: var(--sec-block-bg);
        margin: 0 1.5vmax;
        border-radius: 1vmax;
        overflow: hidden;
        transition: .2s;
        cursor: pointer;
        
        & *:not(img) {
            font-size: 1.1vmax;
            color: var(--text-color);
            line-height: 2.7vmax;
        }

        & img {
            position: relative;
            width: 100%;
            height: 21.5vmin;
            object-fit: cover;
            z-index: 10;
            overflow: hidden;
        }
        
        .textBlock{
            margin-top: -1.65%;
            position: relative;
            overflow: hidden;
            height: 2.5vmax;
            max-height: 2.5vmax;
            display: flex;
            justify-content: space-between;

            & span {
                padding-left: 1vmax;
            }

            .buttonBg {
                position: absolute;
                width: 1.5vmax;
                height: 100%;
                right: 0;
                bottom: 0;
                padding: 0 3vmin;
                z-index: 1;
                background-color: var(--accent-color);
            }

            .button {
                position: relative;
                float: right;
                min-height: 100%;
                padding: 0 3vmin;
                overflow: hidden;
                z-index: 3;
                transition: left .15s ease-in;
            }

            & .button:before {
                position: absolute;
                width: 101%;
                height: 110%;
                content: "";
                background: #9e3a3a;
                bottom: 0;
                left: -101%;
                right: 0;
                top: -5%;
                z-index: -1;
                transition: left 0.09s ease-in;
            }
        }

        &:hover {
            transform: rotate3d(1, 0.4, 0, 18deg);
            box-shadow: -0.5vmax 0.5vmax 0.5vmax 0 rgba(0, 0, 0, 0.3);

            .button:before {
                left: 0;
            }
        }
    }
}

/* Authorization */
.titleBlock:has(.content .auth) {
    .header {
        margin-left: 10%;
        width: 22vmax;
    }
}

.authBlock {
    position: absolute;
    right: 7%;
    width: 50%;
    max-width: 700px;
    height: 65%;
    border-radius: 1vmax;
    background: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));

    .login, .register {
        position: absolute;
        width: 98%;
        height: 98%;
        padding: 2%;
        border-radius: 1vmax;
        background-color: var(--sec-block-bg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
        transition: .65S;

        & h1 {
            font-family: 'Aquire Light';
            font-size: 2vmax;
            margin-bottom: 0.5vmax;
        }

        & h3 {
            font-size: 1.1vmax;
            font-weight: lighter;
            color: var(--sec-text-color);
        }

        & form {
            margin-top: 2vmax;
            display: flex;
            flex-direction: column;
            align-items: center;

            #loginPass {
                -webkit-text-security: disc;
            }

            #showPass:checked {
                ~ #loginPass {
                    -webkit-text-security: none;
                }

                ~ #showPassLabel {
                    display: none;
                }

                ~ #hidePassLabel {
                    display: initial;
                }
            }

            & input:not([type="submit"]) {
                background-color: var(--additional-dark-grey);
                position: relative;
                border-bottom: 0.165vmax solid var(--accent-color);
                padding: 0.7vmax 0.3vmax 0.2vmax 0.3vmax;
                border-radius: 0.2vmax;
                font-size: 0.9vmax;
            }

            #showPassLabel, #hidePassLabel {
                font-size: 1vmax;
                color: var(--img-block-bg);
            }

            & input[type="submit"] {
                margin-top: 2.5vmax;
                background-color: initial;
                border: 0.25vmin solid var(--accent-color);
                border-radius: 0.2vmax;
                color: var(--accent-color);
                font-weight: bolder;
                font-size: 1.1vmax;
                padding: 0.5vmax 2vmax;
            }

            & label:not(#hidePassLabel):not(#showPassLabel) {
                margin: 0.6vmax 0 0.1vmax 0;
                font-size: 1vmax;
                color: var(--img-block-bg);
            }
        }

        .toRegisterBlock {
            position: absolute;
            bottom: 2%;
            right: 2%;
            display: flex;
            font-size: 1vmax;

            & p {
                color: var(--sec-text-color);
            }

            & label {
                margin-left: 0.3vmax;
            }
        }
    }

    .register {
        transform: rotate3d(0, 1, 0, 180deg);
        z-index: 1;
    }

    #toLogin:checked {
        ~ .login {
            transform: rotate3d(0, 1, 0, 0deg);
            z-index: 2;
        }

        ~ .register {
            transform: rotate3d(0, 1, 0, 180deg);
            z-index: 1;
        }
    }

    #toRegister:checked {
        ~ .login {
            transform: rotate3d(0, 1, 0, 180deg);
            z-index: 1;
        }

        ~ .register {
            transform: rotate3d(0, 1, 0, 0deg);
            z-index: 2;
        }
    }
}

/* Profile */
#profileOpnCls:checked {
    ~ .profile {
        display: flex;
        right: 0;
    }
}

.profile {
    display: flex;
    background-color: var(--menu-bg);
    overflow: hidden;
    position: absolute;
    right: -100%;
    top: 8.5vmin;
    width: 28vmax;
    padding: 1vmax;
    max-width: 100%;
    height: 33vmax;
    max-height: 80%;
    border-radius: 0 0 0.7vmax 0.7vmax;
    z-index: 20;
    flex-direction: column;
    align-items: center;
    text-align: left;
    transition: .65s ease-in-out;

    .profileParent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.25vmax;
        margin-bottom: 0.45vmax;

        &:nth-child(4) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .profileBlock{
        min-height: 5vmax;
        background-color: var(--profile-block-bg);
        margin: 0.25vmax;
        border-radius: 0.5vmax;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        padding: 0 0.5vmax;
        color: var(--sec-text-color);
        font-size: 1.1vmax;

        & p:nth-child(2) {
            font-size: 1vmax;
            font-weight: lighter;
            filter: brightness(90%);
        }
    }

    .profileBlockBig {
        grid-column: span 2;
        min-height: 5vmax;
        background-color: var(--profile-block-bg);
        margin: 0.25vmax;
        border-radius: 0.5vmax;
        overflow: hidden;
        padding: 0.5vmax 0.5vmax;
        color: var(--sec-text-color);
        font-size: 1.1vmax;

        & p:nth-child(2), p:nth-child(3) {
            font-size: 1vmax;
            font-weight: lighter;
            filter: brightness(90%);
        }

        & p:nth-child(3) {
            filter: brightness(60%);
        }

        & form {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .changePass {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 2vmax;
    }

    & input:not([type="submit"]) {
        width: 45%;
        background-color: rgba(255, 255, 255, 0.02);
        position: relative;
        border-bottom: 0.165vmax solid var(--accent-color);
        padding: 0.7vmax 0.3vmax 0.2vmax 0.3vmax;
        border-radius: 0.2vmax;
        font-size: 0.9vmax;

        &:nth-child(2) {
            margin-right: 0.55vmax;
        }
    }

    & label {
        position: absolute;
        bottom: 100%;
        left: 3%;
        margin: 0.6vmax 0 0.1vmax 0;
        font-size: 0.8vmax;
        color: var(--img-block-bg);
        z-index: 30;

        &:nth-child(3) {
            left: 53%;
        }
    }

    & input[type="submit"] {
        width: 8vmax;
        margin-top: 0.4vmax;
        background-color: initial;
        color: var(--accent-color);
        font-weight: bolder;
        font-size: 0.9vmax;
        padding: 0.5vmax 2vmax;
    }

    .profileBottom {
        position: absolute;
        bottom: 1vmax;
    }
}
