@font-face {
    font-family: 'Aquire light';
    src: url(assets/fonts/AquireLight.otf);
}
@font-face {
    font-family: 'Aquire';
    src: url(assets/fonts/Aquire.otf);
}
@font-face {
    font-family: 'Aquire Bold';
    src: url(assets/fonts/AquireBold.otf);
}

:root {
    --text-color: #fff;
    --sec-text-color: #afafaf;
    --menu-bg: #000;
    --title-block-bg: #2f3135;
    --img-block-bg: #4e4f52;
    --img-bg: #434447;
    --info-block-bg: #000;
    --sec-block-bg: #2d2e30;
    --icons-color: initial;
    --accent-color: #c44b4b;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--menu-bg);
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Top menu CSS */

#menuBar {
    background-color: var(--menu-bg);
    width: calc(100% - 6vmax);
    height: 6.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vmax 0 3vmax;
    color: var(--text-color);
    font-family: 'Calibri';
    font-size: 1.2vmax;

    .left * {
        margin-right: 1vmax;
    }

    .center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.8vmax;
    }
}


/* Car page CSS */
/* Title h0.9vh w0.65vw */

.titleBlock {
    position: relative;
    width: 100%;
    height: calc(100vmin - 6.5vmin);
    background-color: var(--title-block-bg);
    overflow: hidden;
    z-index: 3;

    #light {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -30vmin;
        z-index: 1;
        width: 70vmax;
        height: 70vmin;
        border-radius: 100%;
        background-image: radial-gradient(rgba(255, 255, 255, 0.1), 
        rgba(255, 255, 255, 0.05));
        background-repeat: repeat;
        background-size: 100% 100%;
        box-shadow:
        0px 0.65vmax 5.85vmax 6.5vmax rgba(255, 255, 255, 0.05),
        0px 9.75vmax 5.85vmax 6.5vmax rgba(255, 255, 255, 0.01);
        z-index: 1;
    }

    #vignette {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-image: radial-gradient(rgba(255, 255, 255, 0) 5%, 
        rgba(0, 0, 0, 0.5) 95%);
        z-index: 0;
    }

    .content {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 4;

        #icon {
            position: absolute;
            width: 7%;
            top: 0;
            left: 0;
        }

        #car {
            position: absolute;
            width: 85vw;
            top: 60vh;
            left: 50%;
            transform: translate(-50%, -48vh);
        }
    }

    .header {
        height: 100%;
        margin: 0 7vw 0 6vw;
        color: var(--text-color);
        width: 31vw;
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: center;
        justify-content: center;
        
        & p {
            font-family: 'Aquire Light';
            font-size: 2vmax;
        }

        .links {
            display: flex;
            flex-direction: column;
        }

        & a {
            --underline-color: var(--text-color);
            font-family: 'Calibri';
            font-weight: lighter;
            font-size: 1.5vmax;
            margin: 0.2vmax 0 0.2vmax 0;
        }

        & button {
            cursor: pointer;
            margin-top: 1.6vmax;
            background: none;
            outline: none;
            border: 0.15vmax solid var(--accent-color);
            border-radius: 0.4vmax;
            color: var(--accent-color);
            font-size: 1.4vmax;
            padding: 0.5vmax 1vmax;
        }
    }

    .images {
        margin-right: 5vw;
        width: calc(100% - 14vw);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1vmax;

        & a {
            width: 28.8vw;
            height: 19.2vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: var(--sec-text-color);
            font-size: 1.2vmax;
            font-family: 'Aquire';
            background-color: rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: .2s;

            & img {
                width: inherit;
                height: inherit;
                object-fit: cover;
            }

            &:nth-child(4):active {
                display: none;
            }

            &:nth-child(5) {
                display: none;
            }

            &:nth-child(4):active {
                + :nth-child(5) {
                    display: flex;
                }
            }

            &:hover, &:active {
                filter: brightness(70%);
            }
        }
    }
}

/* Content */

.line {
    margin: 1.6vmax 0 1.6vmax 0;
    border-radius: 10px;
    background-color: var(--accent-color);
    width: 7vmax;
    height: 0.2vmax;
}

.nameBlock {
    position: relative;
    width: 100%;
    background-color: var(--sec-block-bg);
    height: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Aquire';
    color: var(--text-color);

    & p:nth-child(1) {
        font-size: 2.1vmax;
    }

    & p:nth-child(3) {
        font-family: 'Calibri';
        font-size: 1.4vmax;
    }
}

.imageBlock {
    position: relative;
    width: calc(100% - 20vh);
    height: 90vmin;
    background-color: var(--img-block-bg);
    padding: 0 10vh 0 10vh;

    .vingette {
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 300% 1000%;
        background-position: -91%;
        background-image: radial-gradient(rgba(255, 255, 255, 0) 5%, 
        rgba(0, 0, 0, 0.9) 95%);
    }

    .imageContainer {
        position: absolute;
        top: 10vmin;
        margin-right: 10vmin;
        width: 70vmin;
        height: 70vmin;
        background-color: var(--img-bg);
        border-radius: 5%;

        & img {
            position: absolute;
            bottom: 0;
            width: 116%;
        }
    }

    .centerBottom {
        clip-path: inset( -100vw -100vw 0 -100vw );

        & img {
            left: -7%;
            bottom: -5%;
        }
    }

    .centerRight {
        clip-path: inset( 0 0 0 -100vw );

        & img {
            left: -16%;
        }
    }

    .centerTop {
        clip-path: inset( 0 -100vw -100vw -100vw );

        & img {
            top: -5%;
        }
    }
    
    .centerLeft {
        clip-path: inset( -100vw 0 0 0 );

        & img {
            left: 0;
            right: -16%;
        }
    }
    
    .header {
        position: absolute;
        top: 50%;
        left: 90vmin;
        transform: translateY(-50%);
        color: var(--text-color);
        text-align: left;

        .icon {
            width: 6vmax;
            margin-bottom: 0.5vmax;
            margin-left: 50%;
            transform: translateX(-55%);
            filter: var(--icons-color);
        }

        .headerText {
            font-family: 'Aquire Bold';
            font-size: 5vmax;
        }

        .headerDesc {
            font-family: 'Aquire light';
            font-size: 4vmax;
        }
    }
}

.rightSide {
    .imageContainer {
        right: 0;
    }

    .header {
        left: 0;
        right: 90vmin;
        text-align: right;

        .icon {
            margin-left: 0;
            margin-right: 5vw;
            filter: var(--icons-color);
        }
    }

    .vingette {
        right: 0;
        background-size: 300% 1000%;
        background-position: 40%;
    }
}

.infoBlock {
    position: relative;
    width: 100%;
    min-height: 10vmin;
    background-color: var(--info-block-bg);
    color: var(--text-color);
    font-family: 'Aquire';
    text-align: center;
    padding: 2vmax 0 2vmax 0;

    .header {
        font-size: 2vmax;
        margin-bottom: 2.5vmax;
    }

    & table {
        position: relative;
        margin: 0 auto 0 auto;
        font-size: 1.5vmax;
        border-collapse: collapse;
        border: none;

        & td{
            padding-top: 1.4vmax;
            padding-bottom: 1.4vmax;

            & div {
                & p:nth-child(1) {
                    font-size: 1.4vmax;
                    margin-bottom: -0.1vmax;
                }
                & p:nth-child(2) {
                    font-size: 1.1vmax;
                    font-family: 'Aquire Light';
                    margin: 0.2vmax;
                }
            }

            & img {
                margin-bottom: -0.2vmax;
                height: 1.1vmax;
                filter: brightness(0) saturate(100%) invert(41%) sepia(17%) 
                saturate(2191%) hue-rotate(315deg) brightness(95%) contrast(84%);
            }
        }

        & td:nth-child(1) {
            text-align: right;
            padding-right: 20px;
            padding-right: 1.5vmax;
            width: 25vmax;
        }

        & td:nth-child(2) {
            text-align: right;
            padding-right: 1vmax;
            width: 12vmax;
        }
        
        & td:nth-child(3) {
            text-align: left;
            padding-left: 1.5vmax;
            border-left: 1px solid #9a9a9a;
            width: 12vmax;
        }

        & td:nth-child(4) {
            text-align: left;
            padding-right: 20px;
            padding-left: 1vmax;
            width: 25vmax;
        }
    }
}

#priceInfo {
    width: 100%;
    height: 200px;
    background-color: var(--accent-color);
    font-family: 'Aquire Bold', Calibri;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer */

#footer {
    width: 100%;
    height: 10vmax;
    background-color: var(--sec-block-bg);
    align-items: center;
    justify-content: center;
    font-family: 'Calibri';
    color: var(--text-color);
    font-size: 1.1vmax;
    display: flex;
    flex-direction: column;

    .upperBlock {
        width: 90%;
        display: flex;
        justify-content: flex-start;
    }

    .line {
        margin: 0.4vmax 0 0.4vmax 0;
        border-radius: 10px;
        background-color: var(--img-bg);
        width: 90%;
        height: 0.17vmax;
    }

    .lowerBlock {
        width: 90%;
        color: var(--sec-text-color);
        display: flex;
        justify-content: space-between;

        .links * {
            margin-right: 1vmax;
            --underline-color: var(--sec-text-color);
        }

        .socialMedia * {
            margin-left: 1vmax;
        }
    }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.105vmax;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    background-color: var(--underline-color);
    transform-origin: bottom left;
    transition: transform 0.2s ease-in;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}